@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap');

*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  scroll-behavior: smooth;
}





.banner{
  position: relative;
  width:100%;
  min-height: 100vh;
  
  background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),  url('https://i.postimg.cc/g0bWMrBN/SWFOne-And-Only-Poster-2.jpg'); 
  background-size:cover;
  background-position: center;
  display:flex;
  justify-content: center;
  align-items:center; 
   padding: 15%;
 
}

.textBx h2 {
  font-size:3em;
  color:#fff; 
  font-weight:500;
  font-family: 'Oswald', sans-serif;

}

.textBx p{
   font-size: 1.75em;
   color: #fff;
   text-shadow: #0878ae 1px 0 10px;	
   
	


}

.btn{
  position:relative;
  background:#DC143C;
  display:inline-block;
  color:#fff;
  margin-top:20px;
  padding:10px 30px;
  font-size:18px;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:2px;
  font-weight:500;
  transition:0.5s;
  
}
.btn:hover{
  letter-spacing:6px;
}
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:40px 100px;
  z-index:1000;
  display:flex;
 justify-content:space-between;
  align-items:center;
  transition:0.5s
}
header.sticky{
  background:#DC143C;
  padding: 20px 100px;
  box-shadow:0 5px 20px rgba(0, 0, 0, 0.1);
  
}
header .logo {
  line-height: 60px;
  position: absolute;
  float: left;
  margin: 16px 46px;

}

header .sticky .logo{
  color: #111;
}

header ul{
  position:relative;
  display:flex;
}

header ul li{
  position:relative;
  list-style:none;
}

header ul li a {
  position:relative;
  display:inline-block;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  font-size:25px;
  font-weight:700;
}

header ul li a:hover{
  color:#ff0157;
}
header.sticky ul li a{
  color: #fff;
}

section{
  padding:100px;
}

.row{
  position:relative;
  width:100%;
  display:flex;
  justify-content: space-between;
}

.row col50{
  position:relative;
  width:48%;
}

.titleText{
  color:#111;
  font-size:2em;
  font-weight:600;
}

.row col50 .imgBx{
  position:relative;
  width:100%;
  /*min-height:300px;*/
  height:100%;
  
}

.row col50 .imgBx img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}

.title{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  
}

.event .content{
  display:flex;
  justify-content:center;
  flex-direction:row-reverse;
  flex-wrap:wrap;
  margin-top:40px;
  
}

.event .content .box{
  width:340px;
  margin:20px;
  border:15px solid #fff;
  box-shadow: 0 5px 35px rgba(0,0,0, 0.08);
}

.event .content .box .imgBx{
  position:relative;
  width:100%;
  height:450px;
  
}

.event .content .box .imgBx img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  
}

.event .content .box .text{
  padding:15px 0 5px;
}

.event .content .box .text  h3{
  font-weight:400;
  color:#111;
}

.img-container{
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.img-container img{
  width:100%;
  height: 100%;
}

.trifecta .cards{
  display:flex;
  flex-wrap:wrap;
  list-style:none;
  margin:0;
  padding:0;
}

.trifecta .cards-item{
  display:flex;
  margin:16px;
}

.trifecta .card{
  background-color:#800000;
   border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.trifecta .card-image img{
  height: auto;
  max-weight:100%;
  vertical-align:middle;
}

.trifecta .card-content{
  padding:20px;
  background-color:#ffff;
}

.trifecta .card_title{
  font-size:20px;
  font-weight:700;
  letter-spacing:1px;
  margin:0px;
}
.trifecta .card_text{
  color: #800000;
  font-size:14.75px;
  line-height:1.5;
  margin-bottom:20px;
  font-weight:400;
}

.sec{
  background:#fff;
  padding:100px;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.sec .content{
  position:relative;
  text-align:center;
  width:100%;
}
.mxw800p{
  max-width:800px;
  margin:0 auto;
  
}


.teamBx{
  position:relative;
   display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  grid-gap:20px;
  max-width:100%;
  margin-top:40px;
}
.teamBx .shows{
  position:relative;
  background:#000;
  min-height:300px;
  width:250px;
  margin: 0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
}
.teamBx .shows .imgBx{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.teamBx .shows .imgBx img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}
.teamBx .shows .details{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#000;
  transition:0.2s;
  opacity:0;
}
.teamBx .shows:hover .details{
  opacity:1;
}
.teamBx .shows .details h2{
  color:#fff;
  text-transform:uppercase;
  font-size:20px;
  letter-spacing:1px;
}


.contactForm{
  padding:75px 50px;
  background:#fff;
  box-shadow:0 15px 50px rgba(0,0,0,0.1);
  max-width:500px;
  margin-top:50px;
  
}

.contactForm h3{
  color:#111;
  font-size:1.2em;
  margin-bottom:20px;
  font-weight:500;
  
}

.contactForm .inputBox{
  position:relative;
  width:100%;
  margin-bottom:20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width:100%;
  border:1px solid #555;
  padding:10px;
  color:#111;
  outline:none;
  font-size:16px;
  font-weight:300;
  resize:none;
}



.container .mediaBox {
	display: inline-block;
	width: 60px;
	height: 60px;
	float:none;
	margin: 0 5px;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: all 0.3s ease-out;
}

.container .mediaBox:hover {
	width: 200px;
	transition: all 0.3s ease-in;
}

.container .mediaBox .icon {
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 50px;
	text-align: center;
	line-height: 60px;
	transition: all 0.3s ease-out;
}

.container .mediaBox:nth-child(1):hover .icon {
	background: #4267b2;
}

.container .mediaBox:nth-child(2):hover .icon {
	background: #1da1f2;
}

.container .mediaBox:nth-child(3):hover .icon {
	background: #e1306c;
}

.container .mediaBox:nth-child(4):hover .icon {
	background: #0a66c2;
}

.container .mediaBox:nth-child(5):hover .icon {
	background: #333;
}

.container .mediaBox:nth-child(6):hover .icon {
	background: #cd201f;
}

.container .mediaBox .icon i {
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}

.container .mediaBox:hover .icon i {
	color: #fff;
	transition: all 0.3s ease-in;
}

.container .mediaBox span {
	font-size: 20px;
	font-weight: 500;
	margin-left: 10px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}

.container .mediaBox:nth-child(1):hover span {
	color: #4267b2;
}

.container .mediaBox:nth-child(2):hover span {
	color: #1da1f2;
}

.container .mediaBox:nth-child(3):hover span {
	color: #e1306c;
}

.container .mediaBox:nth-child(4):hover span {
	color: #0a66c2;
}

.container .mediaBox:nth-child(5):hover span {
	color: #333;
}

.container .mediaBox:nth-child(6):hover span {
	color: #cd201f;
}



.copyrightText{
  padding: 8px 40px;
  border-top:1px solid rgba(0,0,0,0.1);
  text-align:center;
}

.copyrightText p{
  color:#333;
}

.copyrightText a{
  color:#ff0157;
  font-weight: 500;
  text-decoration:none;
}

@media (max-width:991px)
{
  header,
  header.sticky{
    padding:10px 20px;
  }
 header .navigation{
    display:none;
   
  } 
  header .navigation.active{
    width:100%;
    height:calc(100% - 68px);
    position:fixed;
    top:68px;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:#fff;
  }
  header.navigation li{
    margin-left:0;
  }
  
  header .navigation li a{
  
    color:#000;
    font-size:1.6em;
   
  }
  .menuToggle{
    position:relative;
    width:40px;
    height:40px;
    background:url('https://i.ibb.co/nnLfhMx/menu.png');
    background-size:30px;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
  }
  .menuToggle.active{
    background:url('https://i.ibb.co/6Ytf3T8/close.png');
    background-size:25px;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
  }
  header.sticky .menuToggle{
    filter: invert(1);
  }
  section{
    padding:20px;
  }
  .banner .content h2{
    font-size: 3em;
    color:#fff;
  }
  .row{
   
    flex-direction:column;
  }
  
  .row .col50{
    position:relative;
    width:100%;
  }
  .row .col50 .imgBx{
   
    height:300px;
    margin-top:20px;
  }
  .row .col50 .imgBx img{
    width:100%;
    height:100%;
  }
  .event .content{
    margin-top:20px;
  }
   .event .content .box{
    margin:10px;
  }
  .event .content .box .imgBx{
  
    height:400px;
  }
  .title{
    text-align:center;
  }
  .titleText{
   
    font-size:1.8em;
    line-height:1.5em;
    margin-bottom:15px;
    font-weight:300;
  }
  .trifecta .content .box .imgBx img{
    width:100%;
    height:50%;
  
  }
  .staff .content .box{
 
  margin:10px;
  padding:20px;
  
  }
  .contactForm{
  padding:35px 40px;
  margin-top:20px;
  margin-bottom:30px;
  
  }

}
@media (max-width:480px)
{
  .banner{
    background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),  url('https://i.postimg.cc/t4RpTn9r/267844865-107448655126112-9123459453524874472-n.jpg');
     background-repeat: no-repeat;
        background-size:cover !important;
        background-position: center;
        overflow: hidden;
    
  }
  .banner .content h2{
    font-size:2.2em;
    color:#fff;
  }
}
